* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.experience-canvas {
    width: 100%;
    height: 100%;
}

.title {
    color: white;
    font-size: 32px;
    font-weight: 900;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}